<html>
	<head>
		<title> NEWS/BLOG POSTS </title>
		<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">

	</head>

	<body>
		<div class="topnav">
                        <a class="active" href="/"> HOME </a>
                        <a href="/chatroom"> CHATROOM </a>
                        <a href="/blog"> BLOG </a>
                        <a href="/contacts"> CONTACTS/OUTLOOK </a>
                        <a href="/portfolio"> PORTFOLIO </a>
                </div>

		<div class="topnav-blog">
			<a href="/blog/signup"> SIGN-UP! </a>
			<a href="/blog/login"> LOGIN! </a>
			<a href="/blog/new_post"> MAKE A NEW POST! </a>
		</div>

		<h1> Blog Posts </h1>
		<h3> By Jackie! </h3>

		<!--- This is where all of the blog posts shall be served up -->

		{% for post in posts %}
		<h1> {{ post.title }} </h1>
		<h3> {{ post.author }} </h3>
		<p> 
			{{ post.blurb }}
		</p>

		<h5> {{ post.time }} </h5>
		{% endfor %}
	</body>
</html>
