<html>
	<head>
		<title> CHATROOM </title>
		<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">

	</head>

	<body>
		<div class="topnav">
                        <a class="active" href="/"> HOME </a>
                        <a href="/chatroom"> CHATROOM </a>
                        <a href="/blog"> BLOG </a>
                        <a href="/contacts"> CONTACTS/OUTLOOK </a>
                        <a href="/portfolio"> PORTFOLIO </a>
                </div>

		<h1> Chatroom </h1>
		<form action="/chatroom" method="POST">
			<input type="text" class="username" placeholder="Username:"/>
			<input type="text" class="message" placeholder="Messages"/>
			<input type="submit" placeholder="SEND">
		</form>
		
		<h3 style='color: #ccc; font-size: 30px;'> No messages yet... </h3>
		<div class="message_holder"> </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

		<script type="text/javascript">
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('connect', function() {
				socket.emit('my event', {
					data: 'User connected'
				} ) 

				var form = $('form').on('submit', function(e) {
					e.preventDefault()
					let user_name = $('input.username').val()
					let user_input = $('input.message').val()
					socket.emit('my event', {
						user_name : user_name,
						message : user_input
					})
					$('input.message').val('').focus()
				})
			})
			socket.on('my response', function(msg) {
				$('h3').remove()
				$('div.message_holder').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.message+'</div>')
		}) 
		</script>
	</body>
</html>
