<html>
	<head>
		<title> CONTACTS </title>
		<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">

	</head>

	<body>
		<nav class="alert alert-dismissible alert-warning">
                        <div class="navbar-header">
                        <a  class="active" href="/">    HOME       | </a>
                        <a  href="/chatroom">   CHATROOM        |</a> 
                        <a  href="/blog">       BLOG    | </a> 
                        <a  href="/contacts">   CONTACTS/OUTLOOK        | </a>
                        <a  href="/portfolio">  PORTFOLIO       | </a> 
                        </div>
                </nav>

		<div class="jumbotron">
			<h1> Contacts and additional information </h1>

			<h3> You can view my GitHub page at github.com/repojackie </h3>

		</div>
	</body>
</html>
