<html>
	<head>
		<title> PORTFOLIO </title>
		<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">

	</head>

	<body>
		<nav class="alert alert-dismissible alert-warning">
                        <div class="navbar-header">
                        <a  class="active" href="/">    HOME       | </a>
                        <a  href="/chatroom">   CHATROOM        |</a> 
                        <a  href="/blog">       BLOG    | </a> 
                        <a  href="/contacts">   CONTACTS/OUTLOOK        | </a>
                        <a  href="/portfolio">  PORTFOLIO       | </a> 
                        </div>
                </nav>

		<div class="jumbotron">
			<h1> My incomplete portfolio! </h1>
			<p> A few projects from past and present are shown below. They are not limited to computer engineering studies-- some of my past projects are more science-oriented. </p>
		</div>
	</body>
</html>
