<html>
	<head>
		<title> PORTFOLIO </title>
		<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css">

	</head>

	<body>
		<div class="topnav">
                        <a class="active" href="/"> HOME </a>
                        <a href="/chatroom"> CHATROOM </a>
                        <a href="/blog"> BLOG </a>
                        <a href="/contacts"> CONTACTS/OUTLOOK </a>
                        <a href="/portfolio"> PORTFOLIO </a>
                </div>

		<h1> My incomplete portfolio! </h1>
	</body>
</html>
